ion-content {
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ion-title {
    text-align: center;
}

.card-background-page {
    
      ion-card {
        position: relative;
        text-align: center;
      }

      .card-title {
        position: absolute;
        top: 36%;
        font-size: 1.7em;
        width: 100%;
        font-weight: bold;
        color: #0b7b8c;
      }
    }   