
<ion-header>

  <ion-navbar>
    <ion-title>pdetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <!--
  <div *ngFor="let prescription of prescriptions">
      <div *ngIf="id==prescription.orderid">
    <img src="assets/imgs/qr.png" style="height: 100px; width: 100px; display: block; margin-left: auto; margin-right: auto;">
    <br><br>
    <em>Doctor: </em>&nbsp;<strong>{{prescription.doc}}</strong>
    <br><br>
    <em>Medicine: </em>&nbsp;<strong>{{prescription.meds}}</strong>
    <br><br>
    <em>Amount: </em>&nbsp;<strong>{{prescription.amt}}</strong>
    <br><br>
    <em>Order ID: </em>&nbsp;<strong>{{prescription.orderid}}</strong>
    <br><br>
    <em>Placed on: </em>&nbsp;<strong>{{prescription.placed}}</strong>
    <br><br>
    <em>Delivered: </em>&nbsp;<strong>{{prescription.delivery}}</strong>
    <br><br>
  </div>
</div>
-->
<div id="1">
<img src="assets/imgs/qr.png" style="height: 100px; width: 100px; display: block; margin-left: auto; margin-right: auto;">
<br><br>
<em>Doctor: </em>&nbsp;<strong>Finn</strong>
<br><br>
<em>Medicine: </em>&nbsp;<strong>Crocin</strong>
<br><br>
<em>Amount: </em>&nbsp;<strong>200</strong>
<br><br>
<em>Order ID: </em>&nbsp;<strong>1</strong>
<br><br>
<em>Placed on: </em>&nbsp;<strong>20 March, 2018</strong>
<br><br>
<em>Delivered: </em>&nbsp;<strong>30 March, 2018</strong>
<br><br>
</div>
<div id="2">
  test
</div>
  <button ion-button outline style="display: block; margin-left: auto; margin-right: auto;">Reissue</button>
</ion-content>
